img{display:block;
	margin:0 auto;}
header{background-color:#F1F5F9;}
body{background-color:#F1F5F9}
h2{background-color: #1E3A8A;
	text-align:center;
	color:#F9FAFB}
	
.about{border:2px solid ;
		border-radius:20px;
		text-align:justify;
		padding:30px;
		margin:60px;
		background-color:rgba(255,255,255,0.9);
		box-shadow:10px 10px 10px;
		}
	h3{color:#1E3A8A;}
	
.mission{border:2px solid;
		border-radius:20px;
		text-align:justify;
		padding:30px;
		margin:60px;
		background-color:rgba(255,255,255,0.9);
		box-shadow:10px 10px 10px;}
	h3{color:#1E3A8A;}
.vision{border:2px solid;
		border-radius:20px;
		text-align:justify;
		padding:30px;
		margin:60px;
		background-color:rgba(255,255,255,0.9);
		box-shadow:10px 10px 10px;}
	h3{color:#1E3A8A;}
	
.gallery{margin:0 auto;
		display:block;
		background-color: #1E3A8A;
		color:#F9FAFB;
		border-radius:15px;
		padding:20px;
		border-color:white}
.home{margin:0 auto;
		display:block;
		background-color: #0D9488;
		color:#F9FAFB;
		border-radius:15px;
		padding:20px;
		border-color:white}
a{text-decoration:none;
	color:#F9FAFB;}
.gallery:hover a{color: #162F6A}
.home:hover a{color:  #0B6B65}
footer{text-align:center;
		color:#F9FAFB;
		background-color:#1E3A8A;
		border:13px solid #1E3A8A}

.container{display:flex;
		
		justify-content:center;
	}

.text1{border:3px solid;
		
		text-align:center;
		height:250px;
		width:570px;
		background-color:rgba(255,255,255,0.9);
		border-color:#1E3A8A;
		border-radius:20px;
		color: #1E3A8A;
		font-size:18px;
		box-shadow:10px 10px 10px;
			}
.art1{border-radius:20px;
		width:490px;
		height:170px;
		padding:10px ;}
		
.text2{border:3px solid;
		margin:0px 0px 0px 15px;
		height:250px;
		width:570px;
		text-align:center;
		background-color:rgba(255,255,255,0.9);
		border-color:#1E3A8A;
		border-radius:20px;
		color: #1E3A8A;
		font-size:18px;
		box-shadow:10px 10px 10px;		
}

.art2{border-radius:20px;
		width:490px;
		height:170px;
		padding:10px ;
		transition:transform 0.3s ease-in-out;
		}
button:hover{transform:translateY(-2px)}	
.text1:hover,.text2:hover{transform:scale(1.2);}
	
